body {
  background-color: #FFDBE9;
  color: #FF69B4;
  font-family: 'Playfair Display', serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 3em;
  margin-top: 0;
}

.form-container {
  max-width: 600px;
  width: 50%;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.form-container label,
.form-container input[type="text"],
.form-container input[type="submit"] {
  display: block;
  width: 100%;
  font-size: 3em;
  margin: 10px 0;
}

.name {
    font-size: 1.5em;
    margin-bottom: 20px;
    display: block;
  }  

.form-container input[type="text"] {
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  font-size: 1em;
  width: 100%;
  margin: 20px auto;
  box-sizing: border-box;
}

.form-container input[type="submit"] {
  padding: 10px;
  border: none;
  background-color: #FF69B4;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.form-container label {
  font-size: 3em;
}

.lyric-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

input[type="text"] {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #F5F5F5;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

input[type="submit"] {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #FF69B4;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  margin-bottom: 50px;
}

input[type="submit"]:hover {
  background-color: #FFFFFF;
  color: #FF69B4;
}

.lyric {
    font-size: 1.5em;
  }  